.underlined{
	position: relative;
	&:after{
		position: absolute;
		content:'';
		width: 100%;
		height: 15px;
		background-color: c('robin-s-egg-blue');
		left: 0;
		bottom: 0;
		z-index: -1;
	}
}

/* disable text selection */
body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}